.admin-dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.nav {
  background-color: #2c3e50;
  color: white;
  @apply min-w-40;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link-active {
  @apply font-bold shadow-indigo-500/50 text-white duration-500;
}

.nav-link-not-active {
  @apply text-[#030811]  duration-200;
}

.nav-link-icon {
  margin-right: 8px;
}

.nav ul {
  list-style: none;
  padding: 0;
  padding-left: 20px;
}

.nav li {
  margin: 20px 0;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
  flex: 1;
  background-color: #ecf0f1;
}
